.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 20px;
  margin-top: 20px;
  
}

.header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  /* background-color: whitesmoke; */
  opacity: 1;
  box-shadow: 0px 0px 35px grey;
}


.section {
  margin-bottom: 20px;
}

.section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.row {
  display: flex;
  /* margin-bottom: 10px; */
  gap:25px;
  background-color: aliceblue;
  box-shadow: 0px 0px 0px 0.3px grey;
}

.header .label,
.row .label {
  font-weight: bold;
  margin-right: 10px;
  width: 100px;
  
}
.row-header{
  
  display: flex;
  font-weight: bold;
  gap: 160px; 
  /* padding: 10px; */
  width: 100px;
}
.value {
  display: block;/* or inline-block */
  flex:1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px;

}

.address {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.address .row {
  margin-bottom: 5px;
}
.circular--square { border-radius: 50%; }

button{
  padding: 5px;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}
input{
  border: none;
	border-bottom: 0.125rem solid black;
	width: 100%;
	height: 0.8rem;
	font-size: 1rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}
/* img {
  opacity:0.6;
} */
h2{
  text-align: center;
}